* {
    margin: 0;
    padding: 0;
  }

$color-titulos: rgb(184, 117, 41);
$separacion-titulos: 40px;



@font-face {
    font-family: "CopperplateCC";
    src: url(../fonts/copperplatecc-bold.ttf);
}
    
body {
    background-color: rgb(8, 8, 8);
}

.index {
    position: relative;
    height: auto;
    overflow: hidden;

    &__video {
        width: 100vw;
        padding: 0;
        border: 0;

        @media (max-width: 670px) {
            margin-top: 78px;
        }
    }

    .index__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 25vw;
        height: 10vw;
    }

    &__arrow {
        position: absolute;
        top: 50vw;
        left: 50vw;
        height: 7%;
        }

    &__redes {
        position: absolute;
        top: 0;
        right: 0;
        }   
     
}

nav {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    font-family: copperplatecc;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #ffd700;
    }
}

.barra-de-navegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 20;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }

    li {
        margin: 0;
    }
}

.biografia {
    background-image: url(../multimedia/fotos/mendoza_bocas.jpg);
    background-size: cover;
    background-position: center;


    &__bio {
        text-align: left;
        color: white;
        width: 50vw;
        padding: 20px;
        height: auto;
        margin: 20px 50px;
        font-size: 1.5vw;
        background-color: rgba(53, 49, 43, 0.589);
        border-radius: 9px;
      }

}

.index-musica {
    display: flex;
    justify-content: space-evenly;
}

.spotify {
    min-width: 290px;
}

h2 {
    text-align: center;
    color: $color-titulos;
    margin-top: $separacion-titulos;
    font-size: xx-large;
    text-decoration: underline; 
}

.separacion-de-titulos {
    margin-bottom: $separacion-titulos;
}

fieldset {
    color: white;
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    background-color: #33333375;
  
    h3 {
      font-size: 3vh;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    div {
        border-bottom: solid 3px;
        color: white;
        margin-top: 7px;
        position: relative;
  
        @media (max-width: 980px) {
            position: static;
        }
  
    span {
        border: solid white;
        font-size: 25px;
        padding: 5px;
        background-color: #33333371;
        color: white;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-10%, -50%);
  
        @media (max-width: 980px) {
          position: static;
          display: block; 
          text-align: center; 
          margin-top: 10px; 
          transform: translate(0%, 0%);
          margin-bottom: 10px;
          margin: 0 20px 10px 20px;
        }
      }
    }
  
    h4 {
      font-size: 30px;
    }
}

.conciertos {
    background-image: url(../multimedia/fotos/bocas_abiertas.jpg);
    background-size: cover;
    background-position: center;

        &__inline-shows {
            padding: 20px;
            color: rgb(214, 155, 78);
        }
    
}

/* FORM */

.inline-form {
    display: inline-block;
    height: 100px;
    }
    
    #comments {
      width: 400px;
      margin: 0;
      height: 143px;
      vertical-align: auto;
      margin-left: 5px;
      margin-bottom: 20px;

      @media (max-width: 811px) {
        margin-left: 0;
        width: 90vw;
    }
    }
    
    form {
        margin-top: 40px;
        font-size: 18px;
        color: rgb(150, 130, 89);
        text-align: center;
        vertical-align: top;
        height: auto;

        .caja-form-izq {
            width: 400px;
            height: 30px;
            margin-right: 5px;

            @media (max-width: 811px) {
                margin-right: 0;
                width: 90vw;
            }

            }
  
        #enviar {
            height: 40px;
            width: 100px;
            font-size: 20px;
        }  
    }
    

#escribime {
    text-align: center;
    margin-top: -20px;
    color:rgb(150, 130, 89);
}

footer {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.redes-grandes {
    height: 40px;
    width: 40px;
    padding-bottom: 6px;
}    

.icono-youtube {
    margin-bottom: 7px;
    width: 45px;
    }

@media (max-width: 1450px) {
    #spotify-playlist {
        display: none;
    }
}


@media (max-width: 900px) {
    .biografia__bio {
        width: 60vw;
        font-size: 2vw;
    }

    #tomando-vuelo-index {
        display: none;
    }
}

@media (max-width: 625px) {
    #spotify-radio {
        display: none;
    }

    .biografia__bio {
        width: 80vw;
        font-size: 2.5vw;
    }
}

@media (max-width: 670px) {
    .barra-de-navegacion {
      display: none;
    } 

    #alexsoliologo-navbar {
        height: 60px;
        }
}

@media (min-width: 671px) {
    .navbar {
      display: none;
    }  
}


.contenedor-videos  {
    margin-left: 10vw;
}

h3 {
    color:rgb(150, 130, 89);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-top: $separacion-titulos;
}

.past-shows {
    color:rgb(150, 130, 89);
    font-size: 20px;
    margin-left: 50px;
    text-align: left;
    text-decoration: none;
}

.display-none {
    display: none;
}

.no-margin {
    margin: 0;
}

@media (max-width: 670px) {
.videos-shows {
    width: 80vw;
}
}

/* MUSICA BOOTSTRAP */

.carrusel {
    height: 25vw;
    width: auto;
    }
    
    .spotify {
    min-width: 300px;
    max-width: 416px;
    }
    
    .spotify-section {
    margin-top: 70px;
    }
    
    @media (max-width: 1209px) {
    #spotify-playlist-col {
      display: none;
    }
    
    .en-vivo-lg-screen {
      display: none;
    }
    
    }
    
    @media (max-width: 805px) {
    #spotify-radio-col {
      display: none;
    }
    
    .videos-musica {
      width: 100%;
      height: auto;
      min-width: 336px;
    }
    
    .en-vivo-md-screen {
      display: none;
    }
    
    }
    
    @media (min-width: 1210px) {
    .en-vivo-md-screen {
      display: none;
    }
    
    }
    
    @media (min-width: 806px) {
    .en-vivo-sm-screen {
      display: none;
    }
    
    }
    
    @media (max-width: 670px) {
    .carrusel {
      height: 50vw;
      width: auto;
      }
    
    .barra-de-navegacion {
      display: none;
    }  
    
    .separacion-primer-titulo {
      margin-top: 100px;
    }
    }
    
    #icono-youtube {
    margin-bottom: 6px;
    width: 45px;
    }
    
    #alexsoliologo-navbar {
    height: 60px;
    }
    
    @media (min-width: 671px) {
    .navbar-sm-screen {
      display: none;
    }
    }

/* TIMELINE BOOTSTRAP */
.span-musica {
    position: static;
    }
    
    .offcanvas.offcanvas-end {
    width: 260px;
    }
    
    .col-left {
    border-right: #fff solid;
    width: 50%;
    text-align: right;
    }
    
    .year-left {
    color: white;
    text-align: right;
    }
    
    .year-right {
    color: white;
    text-align: left;
    }
    
    .imagenes-timeline {
    width: 48%;
    vertical-align: bottom;
    height: auto;
    object-fit: cover;
    }
    .imagenes-timeline:hover {
    transform: scale(1.4);
    transition-duration: 0.5s;
        }
    
    
    .videos-timeline {
    width: 100%;
    }
    
    @media (max-width: 671px) {
    .sm-screen-timeline {
      display: none;
    }
    
    .col-left {
      display: none;
    }
    
    .col-right {
      border-left: #fff solid;
    }
    
    .timeline .row {
      border-top: #fff solid;
      border-top-width: thin;
    }
    
    }
    
    @media (min-width: 672px) {
    .lg-screen-timeline {
      display: none;
    }
    }    

    #video-index {
        width: 100%;
        padding: 0;
        border: 0;
        
      }
      #index {
        position: relative;
        height: auto;
        overflow: hidden;
      }
      .separacion-titulos-tomando-vuelo {
        margin: 60px 0 60px 0;
        }  
    